<div class="eventShowBg">
  <%= render "shared/navbar" %>

  <div class="chatbox<%= 'showchat' if coming_ajax %>">
    <div class="container" id="messages" data-event-id="<%= @event.id %>">
      <div class="container">
        <% @chatroom.messages.each do |message| %>
          <%= render 'messages/message', message: message %>
            <% end %>

          <%= simple_form_for [ @chatroom, @message ], remote: true do |f| %>
            <%= f.input :content, label: false, placeholder: "Send a message" %>
            <%= f.button :submit %>
          <% end %>
        </div>
      </div>
    </div>

  <div class="eventShowDark"></div> <!--- Dark Background Absolute --->

    <div class="wrapper_show">
      <div class="container">
          <div class="row">
            <div class="col-12 mb-5">
              <div class="evenShowHeader">
                <div>
                  <h1 class="display-3" style="-webkit-text-stroke: 1.5px #ffff;-webkit-text-fill-color: transparent;color: transparent;"><%= @event.category%></h1>
                  <h1 class="display-3" style="-webkit-text-stroke: 1.5px #3E1DFD;-webkit-text-fill-color: transparent;color: transparent;"><%= @event.category%></h1>
                  <h1 class="display-3"style="-webkit-text-stroke: 1.5px #E05C3E;-webkit-text-fill-color: transparent;color: transparent;"><%= @event.category%></h1>
                </div>
              <div>
              <h1 class="display-3 glow"style="-webkit-text-stroke: 1.5px #ffff;-webkit-text-fill-color: transparent;color: transparent;">78% <br> Reliability</h1>
            </div>

          </div>

        <div class="col-12 mt-5 mb-5">
          <div class="d-flex justify-content-between">

            <div>
              <%= image_tag "icons/pin.png", class: "mb-3"%>
              <h5 style="color:white"><%= @event.location%></h5>
              <h5 style="color:white">10115 Berlin</h5>
            </div>
            <div>
              <%= image_tag "icons/clock.png", class: "mb-3"%>
              <h5 style="color:white"><%= @event.start_time.strftime("%b %e %Y")%></h5>
              <h5 style="color:white">16:30</h5>
            </div>
            <div>
              <%= image_tag "icons/calories.png", class: "mb-3"%>
              <h5 style=" background: -webkit-linear-gradient(#FD9D9E, #2622FF);-webkit-background-clip: text;-webkit-text-fill-color: transparent;">1400</h5>
              <h5 style="color:white">Kcal</h5>
            </div>
            <div>
              <%= image_tag "icons/sun.png", class: "mb-3"%>
              <h5 style="color:white">23°</h5>
              <h5 style="color:white">30% Rain</h5>
            </div>
          </div> <!--- flex Close --->
        </div> <!--- Col 12 Close --->

        <div class="col-12">
          <h4 style="font-weight:lighter; color:white; line-height:35px">Sport pertains to any form of competitive physical activity or game that aims to use, maintain or improve physical ability and skills while providing enjoyment to participants and, in some cases, entertainment to spectators. Sports can, through casual or organized participation, improve one's physical health. Hundreds of sports exist, from those between single contestants, through to those with hundreds of simultaneous participants, either in teams or competing as individuals. </h4>


            <% if @event.user == current_user %>
            <%# if user is the host, they should see all the pending requests and accept or reject them. Once accepted,
            user should be able to see all the users %>
              <%@my_events = current_user.events # returns collection of my events
                @pending_requests = JoinRequest.where(event_id: @my_events.pluck(:id)).where(status: "pending") %>


                <% @pending_requests.each do |request|  %>
                  <h3 style="color:white"><%= request.user.first_name %> wants to join</h3>
                  <h5 style="color:white">this event you created: <%= request.event.name %>!</h5>
                  <%= link_to "(see event in detail)", event_path(request.event), style: "color:white;" %>
                  <%= link_to "(accept ✅)", accept_join_request_path(request), method: :patch, style: "color:white;" %>
                  <%= link_to "(reject ❌)", reject_join_request_path(request), method: :patch, style: "color:white;" %> <%#= by default link is get request, need to make this patch %>
                <% end %>


              <h2 style="color:white">You are the host of this event.</h2>
              <%# ACCEPTED PLAYERS: @players = User.includes(:join_requests).where(join_requests: { event: @event, status: "accepted" })%>
              <%#= @players iteration to show each player%>
            <% elsif JoinRequest.find_by(user: current_user, event: @event).nil? %>
              <%= link_to 'Join', new_event_join_request_path(@event), class:"joineventbtn mt-4 mb-3" %>
            <% else %>
              <p style="color:white">You cannot join this event twice</p>
            <% end %>
        </div>
        <div class="col-12">
            <p style="color:white"><%= notice %></p>
            <p style="color:white"><%= link_to 'Back', events_path %> |
            <% if @event.user == current_user %>
              <%= link_to 'Edit', edit_event_path(@event) %> |
              <%= link_to 'Delete this event', event_path(@event), method: :delete,  data: { confirm: 'Are you sure you want to delete this event?' }  %>
            <% end %></p>
        </div>
        <div class="col-12">

      <% if @event.join_requests.where(status: 1).any? || @event.user == current_user %>
        <h1 style="color:white; z-index: 1001;" class="chatbutton">Chat</h1>
      <% end %>

        </div>
      </div> <!--- Container Close --->


    </div> <!--- Centering Wrapper --->
</div> <!--- Background Image --->
