
  <%# if user is the host, they should see all the pending requests and accept or reject them. Once accepted,
  user should be able to see all the users %>


  <%#  link_to "(see event in detail)", event_path(request.event), style: "color:white;" %>


  <%@my_events = current_user.events # returns collection of my events
    @pending_requests = JoinRequest.where(event_id: @my_events.pluck(:id)).where(status: "pending") %>

  <h2 class="mb-4" style="color:#cecece">Player Requests</h2>

  <div class="playerRequests">

    <% @pending_requests.each do |request|  %>
    <div class="userProfileShow mr-5">
        <div>
         <%= image_tag request.user.avatar, class:"mr-4"%>
        </div>
        <div style="display:flex; flex-direction:column;">
           <p class="" style="color:white;margin:0;padding:0;"><%= request.user.first_name.capitalize %></p>
           <p class="" style="color:white"><span style="color:#7EF097;">
            <% if request.user.reviews_as_reviewee.any? %>
              <%= request.user.reliability %>%</span> Reliability
            <% else %>
              no review yet
            <% end %>
           </p>
        </div>
    </div>


      <div class="ml-5" style="display:flex; align-items:center;">
      <%= link_to "Accept", accept_join_request_path(request), method: :patch, style: "color:#141316;", class:"acceptbtn mr-5" %>
      <%= link_to "Reject", reject_join_request_path(request), method: :patch, style: "color:#141316;",  class:"rejectbtn mr-5" %> <%#= by default link is get request, need to make this patch %>
      </div>
    <% end %>

  </div>



<h2 class="accordion my-4" style="color:#cecece">Accepted Players <span style="position:relative;top:10px">&#x2935;</span></h2>
<div class="panel">
  <% @event.attendees.each do |request|  %>
           <div class="mt-1" style="display:flex;align-items:center;">
            <%= image_tag request.user.avatar, class:"mr-4 avatar"%>
           <p style="position:relative;top:5px;"><%= request.user.first_name.capitalize %> <span style="color:#141316;padding-left:5px;padding-right:5px;background:#7ef097;border-radius:10px;margin-left:10px">Accepted</span></p>
        </div>
    <% end %>
</div>
