  <h2 style="color:white">You are the host of this event.</h2>
  <%# if user is the host, they should see all the pending requests and accept or reject them. Once accepted,
  user should be able to see all the users %>
  <%@my_events = current_user.events # returns collection of my events
    @pending_requests = JoinRequest.where(event_id: @my_events.pluck(:id)).where(status: "pending") %>

  <h2 style="color:white">Requests</h2>

    <% @pending_requests.each do |request|  %>
      <h3 style="color:white"><%= request.user.first_name %> wants to join</h3>
      <h5 style="color:white">this event you created: <%= request.event.name %>!</h5>
      <%= link_to "(see event in detail)", event_path(request.event), style: "color:white;" %>
      <%= link_to "(accept ✅)", accept_join_request_path(request), method: :patch, style: "color:white;" %>
      <%= link_to "(reject ❌)", reject_join_request_path(request), method: :patch, style: "color:white;" %> <%#= by default link is get request, need to make this patch %>
    <% end %>

  <h2 style="color:white"> Ballers</h2>

<%# add button %>
    <% @event.attendees.each do |request|  %>
    <h5 style="color:white"><%= request.user.first_name%> accepted </h5>
    <% end %>
