<%= render "shared/navbar" %>
<div class="container">
  <div class="row">
    <div style = "margin: 40px 0px;">
      <h1>Hey sporty! Up for an event in your neighbourhood?</h1>
      <br>
      <p><%= link_to "Create your own event", new_event_path %></p>

      <div> <%= form_tag events_path, method: :get do %>
      <%= select_tag(:query, options_for_select(Event::CATEGORY, params[:query]))  %>
      <%= submit_tag "Select", class: "btn btn-link" %>
    <% end %>
  </div>
    </div>

    <div class="col-sm-5" id="main">
      <div>
        <% @events.each do |event| %>
          <%= link_to event_path(event) do %>

              <div style = "display: flex; align-items: center;" class = "event_card <%=event.category%>">

              <div>
                <%= image_tag "#{event.category}_sketch.png", style: "border-radius: 25px; width: 100px; padding: 20px; margin-right: 15px;"%>
              </div>

              <div>
                <p style = "margin-bottom: 0px; font-weight: bold;"> <%=event.category%> at <%= event.location.chomp(", Berlin") %></p>
                <p style = "font-size: 10pt; font-style: italic;"> <%= event.start_time.strftime("%m/%d/%Y at %I:%M%p") %></p>
                <div style="display: flex; justify-content: flex-start; align-items: center">
                  <!--<a class="card-button <%=event.category%>" href=""> Join us </a>-->
                  <%# raise if event.id == 2 %>
                  <% if event.join_requests.find_by(user: current_user, event: event).nil? && event.user != current_user && event.attendees.count != event.capacity%>
                    <%= link_to 'Join us', new_event_join_request_path(event), class: "card-button #{event.category}" %>
                  <% end %>
                </div>
              </div>

              </div>
          <% end %>
        <% end %>
      </div>
    </div>

    <div class="col-sm-7" id="sticky sidebar">
      <div id="map" style="width: 100%; height: 100vh; border-radius: 5px; margin-bottom: 25px; position: sticky; top: 0;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>

  </div>
</div>
