<strong><h1>Check out all these events in your area</h1> </strong>

<div id="map"
  style="width: 100%; height: 600px;"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
</div>

<%= link_to "Create your own event", new_event_path %>
  <div >
      <% @events.each do |event|  %>
        <% unless event.user == current_user%>
          <%= link_to event_path(event) do %>
            <div>
              <h3><%= link_to event.name, event_path(event) %></h3>
              <h5><%= event.description %></h5>
            </div>
            <div>
              <% if event.join_requests.where(user: current_user).exists? %>
              <h3>Your request for this event is still pending</h3>
              <%elsif event.availability? %>
                <h3>It's not too late yet...You can still <strong>join this event 🥅!</strong></h3>
              <%else %>
                <h3>Unfortunately, this event is <strong>fully booked</strong>.</h3>
              <%end %>
            </div>
          <% end %>
        <% end %>
      <% end %>
  </div>
