<%= render "shared/navbar" %>
<div class="bgEventNew">
  <div class="vantaBG"></div>
  <%= render "shared/navbar_home" %>

  <div class="container">

    <h1 class="mb-5" style="color:black">Create a sporty event</h1>
      <%= simple_form_for @event do |f| %>
        <div class="form-row">
          <div class="col">
            <%= f.input :name %>
          </div>
          <div class="col">
            <%= f.input :category, :collection => %w[Basketball Tennis Soccer] %>
          </div>
        </div>

        <div class="form-row">
          <div class="col">
            <%= f.input :description %>
          </div>
          <div class="col">
            <%= f.input :capacity %>
          </div>
        </div>

      <div class="form-row">
        <div class="col">
            <%= f.input :location %>
        </div>
        <div class="col">
          <%= f.input :skill_level, :collection => %w[I'd-love-to-try-this This-is-my-hobby I-breathe-this-sport]%>
        </div>
      </div>
      <div class="form-row">
        <div class="col">
          <%= f.input :start_time, as: :datetime, html5: true %>
        </div>
        <div class="col">
          <%= f.input :end_time, as: :datetime, html5: true %>
        </div>
      </div>


      <%= f.submit class: 'homebutton mt-5' %>
      <% end %>
  </div>

</div>
