<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <% if event.user == current_user %>
        <%= event.name %>
        <% event.participants.each do |participant| %>
            <%# Form for a host to review participants %>
            <%# raise %>
            <%= simple_form_for([event, @review], remote: true, data: {participants: event.participants.length}) do |f| %>
              <h3 style="color: black;">Please write a review for <%= participant.first_name %></h3>
              <%= f.input :comment %>
              <%= f.input :reviewer_id, as: :hidden, input_html: {value: current_user.id} %>
              <%= f.input :reviewee_id, as: :hidden, input_html: {value: participant.id} %>
              <%= f.input :score, collection: [[1, "🧨"],[2,"🧨🧨"],[3, "🧨🧨🧨"],[4,"🧨🧨🧨🧨"],[5,"🧨🧨🧨🧨🧨"]], label_method: :last, value_method: :first, label: "Rate your experience" %>
              <%= f.submit "Send", class: "submit-review-btn review-person-button", data: {name: participant.first_name} %>
            <% end %>
          <% end %>
      <% else %>
<%# Form for the Participants to review the Host %>
        <%# raise %>
        <%= simple_form_for([event, @review], remote: true) do |f| %>
        <h3 style="color: black;">Please rate <%= event.user.first_name %>'s event</h3>
          <%= f.input :comment %>
          <%= f.input :reviewer_id, as: :hidden, input_html: {value: current_user.id} %>
          <%= f.input :reviewee_id, as: :hidden, input_html:{value: event.user.id} %>
          <%= f.input :score, collection: [[1, "🧨"],[2,"🧨🧨"],[3, "🧨🧨🧨"],[4,"🧨🧨🧨🧨"],[5,"🧨🧨🧨🧨🧨"]], label_method: :last, value_method: :first, label: "Rate your experience" %>
          <%= f.submit "Send", class: "submit-review-btn" %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
