<div class="container">
  <div class="row">
    <div class="col-xs-4">
      <% if event.user == current_user %>
        <% event.participants.each do |participant| %>
            <%= simple_form_for([event, @review]) do |f| %>
              <%= f.input :comment %>
              <%= f.input :reviewer_id, as: :hidden, value: current_user.id %>
              <%= f.input :reviewee_id, as: :hidden, value: participant.id %>
              <%= f.input :score, collection: %w[🧨 🧨🧨 🧨🧨🧨 🧨🧨🧨🧨 🧨🧨🧨🧨🧨], label: "Rate your experience" %>
              <%= f.submit "Send" %>
            <% end %>
          <% end %>
        <% else %>
          <%= simple_form_for([event, @review]) do |f| %>
            <%= f.input :comment %>
            <%= f.input :reviewer_id, as: :hidden, value: current_user.id %>
            <%= f.input :reviewee_id, as: :hidden, value: event.user.id %>
            <%= f.input :score, collection: %w[🧨 🧨🧨 🧨🧨🧨 🧨🧨🧨🧨 🧨🧨🧨🧨🧨], label: "Rate your experience" %>
            <%= f.submit "Send" %>
          <% end %>
       <% end %>
    </div>
  </div>
</div>
